*~
Makefile
Makefile.in
/.deps
/.libs
/*.tar.gz
/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux/
/capplet/*.o
/capplet/.deps
/capplet/.dirstamp
/capplet/vino-preferences.desktop
/capplet/vino-preferences.desktop.in
/common/*.o
/common/.deps
/common/.dirstamp
/common/org.gnome.Vino.gschema.xml
/config.log
/config.h
/config.h.in
/config.status
/configure
/compile
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libeggdesktopfile.la
/libeggsmclient.la
/libifaddrs.la
/libminiupnp.la
/libvncserver.la
/libtool
/mkinstalldirs
/m4/
/org.gnome.Vino.enums.xml
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/remove-potcdate.sin
/po/quot.sed
/po/stamp-it
/po/*.gmo
/po/vino.pot
/server/*.o
/server/.deps
/server/.dirstamp
/server/vino-enums.*
/server/vino-marshal.*
/server/dbus-interface-glue.h
/server/vino-server.desktop
/server/vino-server.desktop.in
/server/org.freedesktop.Telepathy.Client.Vino.service
/server/libvncserver/*.o
/server/libvncserver/*.lo
/server/libvncserver/.deps
/server/libvncserver/.dirstamp
/server/libvncserver/.libs
/server/libvncserver/ifaddr/.deps
/server/libvncserver/ifaddr/.dirstamp
/server/miniupnp/*.o
/server/miniupnp/*.lo
/server/miniupnp/.deps
/server/miniupnp/.dirstamp
/server/miniupnp/.libs
/server/smclient/*.lo
/server/smclient/.deps
/server/smclient/.dirstamp
/server/smclient/.libs
/stamp-h1
/tools/*.o
/tools/.deps
/tools/.dirstamp
/vino-preferences
/vino-passwd
/vino-server
